#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --TINT_DARK_LOW: rgba(0,0,0,.1)
}

/* GameWindow */
.GameWindow{
  width:100%;
  height: 100%;
  position:relative;
}
.cardContainer{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
}
.Card{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--TINT_DARK_LOW);
  padding:10px;
}
.Card:hover{
  opacity: .8;
}
